[submodule "PocketTools/Submodules/AFNetworking"]
	path = PocketTools/Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "PocketTools/Submodules/IQKeyboardManager"]
	path = PocketTools/Submodules/IQKeyboardManager
	url = https://github.com/hackiftekhar/IQKeyboardManager.git
[submodule "PocketTools/Submodules/ZBarSDK-for-iOS"]
	path = PocketTools/Submodules/ZBarSDK-for-iOS
	url = https://github.com/null09264/ZBarSDK-for-iOS.git
