<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>新闻</string>
		<key>controlName</key>
		<string>NewsViewController</string>
		<key>iconName</key>
		<string>gr_tool_reader</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>空气质量</string>
		<key>controlName</key>
		<string>PMViewController</string>
		<key>iconName</key>
		<string>gr_tool_pm25</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天气预报</string>
		<key>controlName</key>
		<string>WeatherViewController</string>
		<key>iconName</key>
		<string>gr_tool_weather</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>车辆违章</string>
		<key>controlName</key>
		<string>CarVioSearchViewController</string>
		<key>iconName</key>
		<string>gr_search_violation</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>来电查询</string>
		<key>controlName</key>
		<string>PhoneSearchViewController</string>
		<key>iconName</key>
		<string>gr_search_phone</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>聊天机器人</string>
		<key>controlName</key>
		<string>TulingViewController</string>
		<key>iconName</key>
		<string>gr_tool_robot</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>苹果序列号</string>
		<key>controlName</key>
		<string>AppleDeviceIdSearchViewController</string>
		<key>iconName</key>
		<string>gr_search_appleid</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>星座</string>
		<key>controlName</key>
		<string>StarViewController</string>
		<key>iconName</key>
		<string>gr_tool_zodaic</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>老黄历</string>
		<key>controlName</key>
		<string>CalendarViewController</string>
		<key>iconName</key>
		<string>gr_tool_cal</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>周公解梦</string>
		<key>controlName</key>
		<string>DreamListViewController</string>
		<key>iconName</key>
		<string>gr_tool_dream</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>秘密相册</string>
		<key>controlName</key>
		<string>PhotoPasswordViewController</string>
		<key>iconName</key>
		<string>gr_tool_secretphoto</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>火车订票</string>
		<key>controlName</key>
		<string>TrainViewController</string>
		<key>iconName</key>
		<string>gr_search_train</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>加油站</string>
		<key>controlName</key>
		<string>OilViewController</string>
		<key>iconName</key>
		<string>gr_search_gas</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>快递</string>
		<key>controlName</key>
		<string>PackageSearchViewController</string>
		<key>iconName</key>
		<string>gr_search_package</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>电影</string>
		<key>controlName</key>
		<string>MoiveViewController</string>
		<key>iconName</key>
		<string>gr_search_movie</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>航班动态</string>
		<key>controlName</key>
		<string>PlaneSearchViewController</string>
		<key>iconName</key>
		<string>gr_tool_flightinfo</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>停车场</string>
		<key>controlName</key>
		<string>ParkViewController</string>
		<key>iconName</key>
		<string>gr_tool_park</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>POI</string>
		<key>controlName</key>
		<string>PoiSearchViewController</string>
		<key>iconName</key>
		<string>gr_tool_stores</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>条码比价</string>
		<key>controlName</key>
		<string>ScanViewController</string>
		<key>iconName</key>
		<string>gr_tool_qr</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>话费充值</string>
		<key>controlName</key>
		<string>PhonePayViewController</string>
		<key>iconName</key>
		<string>gr_search_telebill</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>游戏充值</string>
		<key>controlName</key>
		<string>GamePayViewController</string>
		<key>iconName</key>
		<string>gr_tool_games</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>彩票购买</string>
		<key>controlName</key>
		<string>TicketsViewController</string>
		<key>iconName</key>
		<string>gr_search_lotto</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>流量直充</string>
		<key>controlName</key>
		<string>LLPayViewController</string>
		<key>iconName</key>
		<string>gr_tool_ll</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>尺子</string>
		<key>controlName</key>
		<string>RullerViewController</string>
		<key>iconName</key>
		<string>gr_tool_ruler</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>镜子</string>
		<key>controlName</key>
		<string>MirrorViewController</string>
		<key>iconName</key>
		<string>gr_tool_mirror</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>科学计算器</string>
		<key>controlName</key>
		<string>CalculatorViewController</string>
		<key>iconName</key>
		<string>gr_tool_calculator</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>尺码对照表</string>
		<key>controlName</key>
		<string>SizesViewController</string>
		<key>iconName</key>
		<string>gr_tool_sizes</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>单位换算</string>
		<key>controlName</key>
		<string>UnitViewController</string>
		<key>iconName</key>
		<string>gr_tool_conversion</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>汇率换算</string>
		<key>controlName</key>
		<string>ExchangeViewController</string>
		<key>iconName</key>
		<string>gr_tool_currency</string>
	</dict>
	<dict>
		<key>appName</key>
		<string></string>
		<key>controlName</key>
		<string></string>
		<key>iconName</key>
		<string></string>
	</dict>
	<dict>
		<key>appName</key>
		<string>手电筒</string>
		<key>controlName</key>
		<string>FlashViewController</string>
		<key>iconName</key>
		<string>gr_tool_flash</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>关于我们</string>
		<key>controlName</key>
		<string>AboutUSViewController</string>
		<key>iconName</key>
		<string>aboutus</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>应用推荐</string>
		<key>controlName</key>
		<string>AppRecommendViewController</string>
		<key>iconName</key>
		<string>services</string>
	</dict>
</array>
</plist>
