<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://ai.m.taobao.com/bu.html?id=1&amp;pid=mm_103840808_8134995</string>
		<key>appName</key>
		<string>天天特价</string>
		<key>iconName</key>
		<string>gr_search_tiantian</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://lite.m.dianping.com/wqqTqTXPyz?hasheader=0&amp;uid=fotoable</string>
		<key>appName</key>
		<string>大众团购</string>
		<key>iconName</key>
		<string>gr_tool_groupon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://m.yhd.com/5?tracker_u=109692322</string>
		<key>appName</key>
		<string>一号店</string>
		<key>iconName</key>
		<string>gr_tool_number1</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://i.waimai.meituan.com/geo/geohash?utm_content=waimai&amp;utm_source=5902&amp;terminal=help </string>
		<key>appName</key>
		<string>美团外卖</string>
		<key>iconName</key>
		<string>gr_tool_meituan</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://m.ele.me/home?from=koudaigongju</string>
		<key>appName</key>
		<string>饿了吗</string>
		<key>iconName</key>
		<string>gr_delivery_1</string>
	</dict>
	<dict>
		<key>url</key>
		<string> http://waimai.baidu.com/?utm_source=koudaigongju&amp;utm_medium=button&amp;utm_term=default&amp;utm_content=default&amp;utm_campaign=wm141027&amp;cid=bwbqt11000027 HTTP/1.1</string>
		<key>appName</key>
		<string>百度外卖</string>
		<key>iconName</key>
		<string>gr_delivery_3</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://waimaichaoren.com/mobile/?utm_source=BD&amp;utm_medium=cps&amp;utm_term=&amp;utm_content=&amp;utm_campaign=%E5%8F%A3%E8%A2%8B%E5%B7%A5%E5%85%B7</string>
		<key>appName</key>
		<string>外卖超人</string>
		<key>iconName</key>
		<string>gr_delivery_4</string>
	</dict>
	<dict>
		<key>url</key>
		<string> http://jhs.m.taobao.com/m/index.htm?fromwt=1&amp;ali_trackid=2:mm_103840808_8134995_28316071:1426821787_310_1943428728&amp;e=zGU0g6e1d7xnyW5gckzC5SRSoSV%2BCJRsbB%2FqUvs5Uf58hRjnchOE8RJiVyxap21Z%2BF5k2ycdFwjLcpg6et5YWldFaIJiTj%2B8PB3D9WtY4uPRMmgp0PWxFg3THzlXWZl9d72ZRUy6HrHElkYSV3L9ohm909Wxn%2B5XYLRmURqimRuTE5zTHzd4ESIQjHhR9JRckLsKzxFCNFEc416oY3L5LoumBDUJDSU%2BruHB9xnDaz772CVY&amp;type=2</string>
		<key>appName</key>
		<string>聚划算</string>
		<key>iconName</key>
		<string>gr_search_ju</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ai.m.taobao.com/channel.html?id=1&amp;pid=mm_103840808_8134995_28322058</string>
		<key>appName</key>
		<string>潮流女装</string>
		<key>iconName</key>
		<string>gr_search_woman</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ai.m.taobao.com/channel.html?id=2&amp;pid=mm_103840808_8134995_28304075</string>
		<key>appName</key>
		<string>精品男装</string>
		<key>iconName</key>
		<string>gr_search_man</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://m.zmqnw.com.cn/?from=gongju99</string>
		<key>appName</key>
		<string>周末去哪玩</string>
		<key>iconName</key>
		<string>gr_tool_zmqnw</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://i.meituan.com/</string>
		<key>appName</key>
		<string>美团</string>
		<key>iconName</key>
		<string>gr_tool_meituan</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ai.m.taobao.com/channel.html?id=7&amp;pid=mm_103840808_8134995_28116451</string>
		<key>appName</key>
		<string>每日爆款</string>
		<key>iconName</key>
		<string>gr_tool_bigsale</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.fishlee.net/12306/proxy.php</string>
		<key>appName</key>
		<string>抢火车票</string>
		<key>iconName</key>
		<string>gr_tool_trainticket</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ai.m.taobao.com/</string>
		<key>appName</key>
		<string>爱淘宝</string>
		<key>iconName</key>
		<string>gr_shop_aitaobao</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://touch.lecai.com/#path=page%2Fmain</string>
		<key>appName</key>
		<string>彩票</string>
		<key>iconName</key>
		<string>gr_tool_lottery</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://m.maoyan.com/#type=movies</string>
		<key>appName</key>
		<string>猫眼</string>
		<key>iconName</key>
		<string>gr_shop_mao</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://m.wepiao.com/index.html</string>
		<key>appName</key>
		<string>微信电影票</string>
		<key>iconName</key>
		<string>gr_tool_wechatticket</string>
	</dict>
</array>
</plist>
